In [106]:
# imports 
import numpy as np
import pandas as pd

In [107]:
df= pd.read_csv('../../data/train/diamonds_train_cleaned.csv', index_col=[0])
df.replace([np.inf, -np.inf], 0 , inplace=True)

df.head()

,depth,table,x,y,z,price,carat,cut,color,clarity,city,xy,xz,zy,table_depth,carat/dimensons
0,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai,1.005891,1.607059,0.625920,1.075862,0.006139
1,61.6,58.0,6.40,6.35,3.93,3513,1.02,Premium,J,VS2,Dubai,1.007874,1.628499,0.618898,1.062069,0.006386
2,62.3,58.0,5.86,5.80,3.63,1792,0.77,Premium,J,VS2,Dubai,1.010345,1.614325,0.625862,1.074138,0.006241
3,59.6,60.0,7.58,7.48,4.49,7553,1.51,Premium,J,VS2,Dubai,1.013369,1.688196,0.600267,0.993333,0.005931
4,60.2,62.0,5.40,5.33,3.23,1176,0.57,Premium,J,VS2,Dubai,1.013133,1.671827,0.606004,0.970968,0.006131

In [108]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_columns = list((df.select_dtypes(include=numerics)).columns)
numerical_columns.remove('price')
numerical_columns.remove('depth')
#numerical_columns.remove('table')
numerical_columns.remove('x')
numerical_columns.remove('y')
numerical_columns.remove('z')
numerical_columns

['table', 'carat', 'xy', 'xz', 'zy', 'table_depth', 'carat/dimensons']

In [109]:
#numerical_columns = ['carat', 'x', 'y', 'z','xy','xz','zy','xyz',]
categorical_columns = ['cut', 'color', 'clarity']
FEATS = numerical_columns + categorical_columns
TARGET = 'price'

In [110]:
df['color'].value_counts()

G    8446
E    7322
F    7170
H    6271
D    5049
I    4028
J    2139
Name: color, dtype: int64

In [111]:
"""clarity = pd.get_dummies(df['clarity'])
color = pd.get_dummies(df['color'])
df = pd.concat([df , clarity , color] , axis = 1)
df.drop(['color' , 'clarity','city'] , axis = 1 , inplace=True)"""

"clarity = pd.get_dummies(df['clarity'])\ncolor = pd.get_dummies(df['color'])\ndf = pd.concat([df , clarity , color] , axis = 1)\ndf.drop(['color' , 'clarity','city'] , axis = 1 , inplace=True)"

In [112]:
df.head()

,depth,table,x,y,z,price,carat,cut,color,clarity,city,xy,xz,zy,table_depth,carat/dimensons
0,62.4,58.0,6.83,6.79,4.25,4268,1.21,Premium,J,VS2,Dubai,1.005891,1.607059,0.625920,1.075862,0.006139
1,61.6,58.0,6.40,6.35,3.93,3513,1.02,Premium,J,VS2,Dubai,1.007874,1.628499,0.618898,1.062069,0.006386
2,62.3,58.0,5.86,5.80,3.63,1792,0.77,Premium,J,VS2,Dubai,1.010345,1.614325,0.625862,1.074138,0.006241
3,59.6,60.0,7.58,7.48,4.49,7553,1.51,Premium,J,VS2,Dubai,1.013369,1.688196,0.600267,0.993333,0.005931
4,60.2,62.0,5.40,5.33,3.23,1176,0.57,Premium,J,VS2,Dubai,1.013133,1.671827,0.606004,0.970968,0.006131

In [113]:
df['cut'].value_counts()

Ideal        16214
Premium      10250
Very Good     9094
Good          3659
Fair          1208
Name: cut, dtype: int64

In [114]:
df['cut']=df['cut'].replace(regex={'Ideal': 1, 'Premium': 2,'Very Good': 3, 'Good': 4, 'Fair': 5})
df['clarity']=df['clarity'].replace(regex={'I1':8 , 'SI2':7, 'SI1':6, 'VS2':5, 'VS1':4, 'VVS2':3, 'VVS1':2, 'IF':1})
df['color']=df['color'].replace(regex={'D': 1, 'E': 2,'F': 3, 'G': 4, 'H': 5,'I':6,'J':7})

In [115]:
df.head()

,depth,table,x,y,z,price,carat,cut,color,clarity,city,xy,xz,zy,table_depth,carat/dimensons
0,62.4,58.0,6.83,6.79,4.25,4268,1.21,2,7,5,Dubai,1.005891,1.607059,0.625920,1.075862,0.006139
1,61.6,58.0,6.40,6.35,3.93,3513,1.02,2,7,5,Dubai,1.007874,1.628499,0.618898,1.062069,0.006386
2,62.3,58.0,5.86,5.80,3.63,1792,0.77,2,7,5,Dubai,1.010345,1.614325,0.625862,1.074138,0.006241
3,59.6,60.0,7.58,7.48,4.49,7553,1.51,2,7,5,Dubai,1.013369,1.688196,0.600267,0.993333,0.005931
4,60.2,62.0,5.40,5.33,3.23,1176,0.57,2,7,5,Dubai,1.013133,1.671827,0.606004,0.970968,0.006131

In [116]:
X = df.drop(labels=['price','city'], axis= 1)
y = df[TARGET]

In [117]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [118]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(X, y, random_state=42)

In [119]:
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor


pipeline_xgb=Pipeline([("scalar5",StandardScaler()),
                     ("rf_classifier",XGBRegressor())]);

In [120]:
pipeline_xgb.fit(data_train, target_train);

In [121]:
y_pred = pipeline_xgb.predict(data_test)
y_pred

array([ 601.50885, 1252.0781 , 3961.075  , ..., 2512.4993 ,  464.28278,
        847.75226], dtype=float32)

In [122]:
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(target_test, y_pred)**0.5
rmse

724.3143848923339

In [59]:
#Model prediction Test Dataframe (aka real prediction):
diamonds_train=pd.read_csv('../data/test/diamonds_test.csv', index_col=[0])
diamonds_train['xy'] = diamonds_train['x']/diamonds_train['y']
diamonds_train['xz'] = diamonds_train['x']/diamonds_train['z']
diamonds_train['zy'] = diamonds_train['z']/diamonds_train['y']
diamonds_train['table_depth'] = diamonds_train['table']/diamonds_train['depth']
#diamonds_train['xyz'] = diamonds_train['x']* diamonds_train['y'] * diamonds_train['z']
#diamonds_train['xyz_sum'] = diamonds_train['x'] + diamonds_train['y'] + diamonds_train['z']
diamonds_train['carat/dimensons'] = diamonds_train ['carat'] / (diamonds_train['x']* diamonds_train['y'] * diamonds_train['z'])
diamonds_train.replace([np.inf, -np.inf], 0 , inplace=True)
diamonds_train

,carat,cut,color,clarity,depth,table,x,y,z,city,xy,xz,zy,table_depth,carat/dimensons
id,,,,,,,,,,,,,,,
0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam,0.988115,1.585831,0.623090,0.956938,0.006279
1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat,0.988389,1.629187,0.606676,0.934426,0.006118
2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly,1.008197,1.614880,0.624317,0.980707,0.006359
3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly,0.993475,1.561538,0.636215,0.846395,0.006182
4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam,0.992141,1.583072,0.626719,0.922099,0.006098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.57,Ideal,E,SI1,61.9,56.0,5.35,5.32,3.30,Amsterdam,1.005639,1.621212,0.620301,0.904685,0.006069
13481,0.71,Ideal,I,VS2,62.2,55.0,5.71,5.73,3.56,New York City,0.996510,1.603933,0.621291,0.884244,0.006096
13482,0.70,Ideal,F,VS1,61.6,55.0,5.75,5.71,3.53,Tel Aviv,1.007005,1.628895,0.618214,0.892857,0.006040
13483,0.70,Very Good,F,SI2,58.8,57.0,5.85,5.89,3.45,Surat,0.993209,1.695652,0.585739,0.969388,0.005889
13484,0.40,Ideal,I,VVS2,62.4,55.0,4.70,4.73,2.94,New York City,0.993658,1.598639,0.621564,0.881410,0.006120

In [60]:
clarity = pd.get_dummies(diamonds_train['clarity'])
color = pd.get_dummies(diamonds_train['color'])
diamonds_train = pd.concat([diamonds_train , clarity , color] , axis = 1)
diamonds_train.drop(['color' , 'clarity','city'] , axis = 1 , inplace=True)
diamonds_train['cut']=diamonds_train['cut'].replace(regex={'Ideal': 1, 'Premium': 2,'Very Good': 3, 'Good': 4, 'Fair': 5})
diamonds_train.head()

,carat,cut,depth,table,x,y,z,xy,xz,zy,...,VS2,VVS1,VVS2,D,E,F,G,H,I,J
id,,,,,,,,,,,,,,,,,,,,,
0,0.79,3,62.7,60.0,5.82,5.89,3.67,0.988115,1.585831,0.623090,...,0,0,0,0,0,1,0,0,0,0
1,1.20,1,61.0,57.0,6.81,6.89,4.18,0.988389,1.629187,0.606676,...,0,0,0,0,0,0,0,0,0,1
2,1.57,2,62.2,61.0,7.38,7.32,4.57,1.008197,1.614880,0.624317,...,0,0,0,0,0,0,0,1,0,0
3,0.90,3,63.8,54.0,6.09,6.13,3.90,0.993475,1.561538,0.636215,...,0,0,0,0,0,1,0,0,0,0
4,0.50,3,62.9,58.0,5.05,5.09,3.19,0.992141,1.583072,0.626719,...,0,0,0,0,0,1,0,0,0,0

In [61]:
pipeline_xgb.fit(X,y); #Volvemos a entrenar el modelo con el datframe original (sin la separacion de train y test), para tener mas datos en el entreno

In [62]:
feats= list(df.columns)
feats.remove('price')

In [63]:
y_pred = pipeline_xgb.predict(diamonds_train[feats])
y_pred

array([2764.404  , 6022.3457 , 9411.146  , ..., 2957.3086 , 2182.3477 ,
        802.03357], dtype=float32)

In [64]:
y_pred=pd.DataFrame(y_pred, columns=['price'])
y_pred.reset_index(inplace=True)
y_pred.rename(columns={"index": "id"}, inplace= True)
y_pred

          id        price
0          0  2764.404053
1          1  6022.345703
2          2  9411.146484
3          3  4054.369873
4          4  1684.415161
...      ...          ...
13480  13480  1668.754028
13481  13481  2447.047607
13482  13482  2957.308594
13483  13483  2182.347656
13484  13484   802.033569

[13485 rows x 2 columns]

In [65]:
y_pred.to_csv('../data/prediction/price_prediction.csv', index= False)